{% extends 'student/base.html.twig' %}
{% block title %}Trucs et astuces{% endblock %}
{% block body %}
<div class="dream-university-subpage">

	<!-- Begin breadcrumbs-->
	<div class="du-page-header du-breadcrumbs overflow-hidden p-0 position-absolute w-100"  style="z-index: -1">
		<div style="height: 180px" class="bg-dark">
			<img src="{{ asset('build/img/tt.jpg') }}" class="w-100" style="opacity: 1"/>
		</div>
	</div>
	<div style="padding-top: 100px;z-index: 88888;">
		<div class="container bg-primary py-5">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12 text-center du-title">
					<div class="du-breadcrumb-title"><h1 class="text-white text-center">Trucs et Astuces</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End breadcrumbs-->
	
	
	<!-- Begin Event -->
	<div class="du-subpage-content">
		<div class="du-admission">

			<!-- Begin choose us -->
			<section class="admission ptb-50">

				<div class="container">
					
					<section class="du-admission-content">
					
						<div class="row card-group">

							  <!-- Thumbnails container -->
								<div class="col-md-4">
								  <div class="thumbnail">
									<img src="{{ asset('build/img/blog1.jpg') }}" alt="" class="img-fluid">
									<div class="caption px-3 pt-3" style="background-color: rgba(42,140,40,0.09)">
									  <h3 class="text-dark" style="font-family: sans-serif;font-weight: bolder">Comment rédiger un cv professionnel?</h3>
									  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in.Cras justo odio, dapibus ac facilisis in</p>

									  <div class="admission-feature">
									  		<ul class="du-choose-list">
												<li><a href="{{ path('etu_article') }}" class="btn-default du-common-property bg-primary border-0">Lire plus</a></li>
											</ul>
									  </div>

									</div>
								  </div>
								</div>
								<div class="col-md-4 ">
								  <div class="thumbnail">
									<img src="{{ asset('build/img/blog1.jpg') }}" alt="" class="img-fluid">
									<div class="caption px-3 pt-3" style="background-color: rgba(42,140,40,0.09)">
									  <h3 class="text-dark" style="font-family: sans-serif;font-weight: bolder">Comment rédiger un cv professionnel?</h3>
									  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in.Cras justo odio, dapibus ac facilisis in</p>

									  <div class="admission-feature">
									  		<ul class="du-choose-list">
												<li><a href="{{ path('etu_article') }}" class="btn-default du-common-property bg-primary border-0">Lire plus</a></li>
											</ul>
									  </div>

									</div>
								  </div>
								</div>
								<div class="col-md-4 ">
								  <div class="thumbnail">
									<img src="{{ asset('build/img/blog1.jpg') }}" alt="" class="img-fluid">
									<div class="caption px-3 pt-3" style="background-color: rgba(42,140,40,0.09)">
									  <h3 class="text-dark" style="font-family: sans-serif;font-weight: bolder">Comment rédiger un cv professionnel?</h3>
									  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in.Cras justo odio, dapibus ac facilisis in</p>

									  <div class="admission-feature">
									  		<ul class="du-choose-list">
												<li><a href="{{ path('etu_article') }}" class="btn-default du-common-property bg-primary border-0">Lire plus</a></li>
											</ul>
									  </div>

									</div>
								  </div>
								</div>
								<div class="col-md-4 ">
								  <div class="thumbnail">
									<img src="{{ asset('build/img/blog1.jpg') }}" alt="" class="img-fluid">
									<div class="caption px-3 pt-3" style="background-color: rgba(42,140,40,0.09)">
									  <h3 class="text-dark" style="font-family: sans-serif;font-weight: bolder">Comment rédiger un cv professionnel?</h3>
									  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in.Cras justo odio, dapibus ac facilisis in</p>

									  <div class="admission-feature">
									  		<ul class="du-choose-list">
												<li><a href="{{ path('etu_article') }}" class="btn-default du-common-property bg-primary border-0">Lire plus</a></li>
											</ul>
									  </div>

									</div>
								  </div>
								</div>
								<div class="col-md-4 ">
								  <div class="thumbnail">
									<img src="{{ asset('build/img/blog1.jpg') }}" alt="" class="img-fluid">
									<div class="caption px-3 pt-3" style="background-color: rgba(42,140,40,0.09)">
									  <h3 class="text-dark" style="font-family: sans-serif;font-weight: bolder">Comment rédiger un cv professionnel?</h3>
									  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in.Cras justo odio, dapibus ac facilisis in</p>

									  <div class="admission-feature">
									  		<ul class="du-choose-list">
												<li><a href="{{ path('etu_article') }}" class="btn-default du-common-property bg-primary border-0">Lire plus</a></li>
											</ul>
									  </div>

									</div>
								  </div>
								</div>
								<div class="col-md-4 ">
								  <div class="thumbnail">
									<img src="{{ asset('build/img/blog1.jpg') }}" alt="" class="img-fluid">
									<div class="caption px-3 pt-3" style="background-color: rgba(42,140,40,0.09)">
									  <h3 class="text-dark" style="font-family: sans-serif;font-weight: bolder">Comment rédiger un cv professionnel?</h3>
									  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in.Cras justo odio, dapibus ac facilisis in</p>

									  <div class="admission-feature">
									  		<ul class="du-choose-list">
												<li><a href="{{ path('etu_article') }}" class="btn-default du-common-property bg-primary border-0">Lire plus</a></li>
											</ul>
									  </div>

									</div>
								  </div>
								</div>



							  <!-- /Thumbnails container -->

			            </div>

			            

					</section>				
					
				</div>
			</section>
			<!-- End event -->


			
			
		</div><!-- /.du-event -->
	</div><!-- /.du-subpage content -->
	<!-- End Evnet -->
	<div class="container mb-5">
		<ul class="pagination d-flex justify-content-between">
			<li class="page-item"><a class="page-link bg-primary border-0 text-white" href="#">Précédent</a></li>
			<li class="page-item"><a class="page-link bg-secondary text-white" href="#">1</a></li>
			<li class="page-item"><a class="page-link bg-primary text-white" href="#">Suivant</a></li>
		</ul>
	</div>


</div>
{% endblock %}