{% extends 'front/base.html.twig' %}
{% block title %}Partenaires{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ asset('build/css/team.css') }}">
{% endblock %}
{% block body %}
<div class="dream-university-subpage">

      <!-- Begin breadcrumbs-->
      <div class="du-page-header du-breadcrumbs overflow-hidden p-0 position-absolute w-100" style="z-index: -1">
            <div style="height: 180px" class="bg-dark">
                  <img src="{{ asset('build/img/blog3.jpg') }}" class="w-100" style="opacity: 0.4"/>
            </div>
      </div>
      <div style="padding-top: 100px;z-index: 88888;">
            <div class="container bg-primary py-5">
                  <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center du-title">
                              <div class="du-breadcrumb-title"><h1 class="text-white text-center">Partenaires</h1>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <!-- End breadcrumbs-->


      <!-- Begin About -->
      <div class="du-subpage-content">
            <div class="du-about">
                  <!-- Begin teacher -->
                  <section class="du-teacher du-section-ash ptb-50 common">
                        <!-- Team Block -->
                        <div class="team-content">
                              <!-- Container -->
                              <div class="container">
                                    <h2 class="text-center font-weight-bold text-secondary">Institutions</h2>
                                    <div class="row">
                                          <div class="col-md-4 col-sm-6 mb-4 h-100">
                                                <!-- Team Box -->
                                                <div class="team-box wow fadeInLeft">
                                                      <!-- Image -->
                                                      <img src="{{ asset('build/img/logo.png') }}" alt="" class="img-fluid"/>
                                                      <!-- Heading -->
                                                      <h4 class="font-weight-bold text-secondary">Université d'abomey-calavi</h4>
                                                      <p>Aenean cursus fermentum euismod. Cras sodales nibh sed egestas
                                                            adipiscing. Vestibulum sit amet eros sapien. Vestibulum quis
                                                            dapibus sem. Fusce a lacinia nisl. Mauris sagittis egestas
                                                            justo. Praesent tempus quis nibh nec imperdiet.

                                                      </p>
                                                      <!-- Social -->
                                                      <div class="ui-social">
                                                            <!-- Facebook -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="Facebook"><i
                                                                    class="fa fa-facebook facebook"></i></a>
                                                            <!-- Twitter -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="Twitter"><i
                                                                    class="fa fa-twitter twitter"></i></a>
                                                            <!-- LinkedIn -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="LinkedIn"><i
                                                                    class="fa fa-linkedin linkedin"></i></a>
                                                            <!-- Google-Plus -->
                                                            <a href="#" class="ui-tooltip btn bg-secondary mt-4 text-white" data-toggle="tooltip"
                                                               data-placement="top" title="Voir le site du partenaire">Voir le site du partenaire</a>
                                                      </div>

                                                </div>
                                          </div>
                                          <div class="col-md-4 col-sm-6 mb-4 h-100">
                                                <!-- Team Box -->
                                                <div class="team-box wow fadeInLeft">
                                                      <!-- Image -->
                                                      <img src="{{ asset('build/img/logo.png') }}" alt="" class="img-fluid"/>
                                                      <!-- Heading -->
                                                      <h4 class="font-weight-bold text-secondary">Université d'abomey-calavi</h4>
                                                      <p>Aenean cursus fermentum euismod. Cras sodales nibh sed egestas
                                                            adipiscing. Vestibulum sit amet eros sapien. Vestibulum quis
                                                            dapibus sem. Fusce a lacinia nisl. Mauris sagittis egestas
                                                            justo. Praesent tempus quis nibh nec imperdiet.

                                                      </p>
                                                      <!-- Social -->
                                                      <div class="ui-social">
                                                            <!-- Facebook -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="Facebook"><i
                                                                    class="fa fa-facebook facebook"></i></a>
                                                            <!-- Twitter -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="Twitter"><i
                                                                    class="fa fa-twitter twitter"></i></a>
                                                            <!-- LinkedIn -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="LinkedIn"><i
                                                                    class="fa fa-linkedin linkedin"></i></a>
                                                            <!-- Google-Plus -->
                                                            <a href="#" class="ui-tooltip btn bg-secondary mt-4 text-white" data-toggle="tooltip"
                                                               data-placement="top" title="Voir le site du partenaire">Voir le site du partenaire</a>
                                                      </div>

                                                </div>
                                          </div>
                                          <div class="col-md-4 col-sm-6 mb-4 h-100">
                                                <!-- Team Box -->
                                                <div class="team-box wow fadeInLeft">
                                                      <!-- Image -->
                                                      <img src="{{ asset('build/img/logo.png') }}" alt="" class="img-fluid"/>
                                                      <!-- Heading -->
                                                      <h4 class="font-weight-bold text-secondary">Université d'abomey-calavi</h4>
                                                      <p>Aenean cursus fermentum euismod. Cras sodales nibh sed egestas
                                                            adipiscing. Vestibulum sit amet eros sapien. Vestibulum quis
                                                            dapibus sem. Fusce a lacinia nisl. Mauris sagittis egestas
                                                            justo. Praesent tempus quis nibh nec imperdiet.

                                                      </p>
                                                      <!-- Social -->
                                                      <div class="ui-social">
                                                            <!-- Facebook -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="Facebook"><i
                                                                    class="fa fa-facebook facebook"></i></a>
                                                            <!-- Twitter -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="Twitter"><i
                                                                    class="fa fa-twitter twitter"></i></a>
                                                            <!-- LinkedIn -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="LinkedIn"><i
                                                                    class="fa fa-linkedin linkedin"></i></a>
                                                            <!-- Google-Plus -->
                                                            <a href="#" class="ui-tooltip btn bg-secondary mt-4 text-white" data-toggle="tooltip"
                                                               data-placement="top" title="Voir le site du partenaire">Voir le site du partenaire</a>
                                                      </div>

                                                </div>
                                          </div>
                                          <div class="col-md-4 col-sm-6 mb-4 h-100">
                                                <!-- Team Box -->
                                                <div class="team-box wow fadeInLeft">
                                                      <!-- Image -->
                                                      <img src="{{ asset('build/img/logo.png') }}" alt="" class="img-fluid"/>
                                                      <!-- Heading -->
                                                      <h4 class="font-weight-bold text-secondary">Université d'abomey-calavi</h4>
                                                      <p>Aenean cursus fermentum euismod. Cras sodales nibh sed egestas
                                                            adipiscing. Vestibulum sit amet eros sapien. Vestibulum quis
                                                            dapibus sem. Fusce a lacinia nisl. Mauris sagittis egestas
                                                            justo. Praesent tempus quis nibh nec imperdiet.

                                                      </p>
                                                      <!-- Social -->
                                                      <div class="ui-social">
                                                            <!-- Facebook -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="Facebook"><i
                                                                    class="fa fa-facebook facebook"></i></a>
                                                            <!-- Twitter -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="Twitter"><i
                                                                    class="fa fa-twitter twitter"></i></a>
                                                            <!-- LinkedIn -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="LinkedIn"><i
                                                                    class="fa fa-linkedin linkedin"></i></a>
                                                            <!-- Google-Plus -->
                                                            <a href="#" class="ui-tooltip btn bg-secondary mt-4 text-white" data-toggle="tooltip"
                                                               data-placement="top" title="Voir le site du partenaire">Voir le site du partenaire</a>
                                                      </div>

                                                </div>
                                          </div>
                                          <div class="col-md-4 col-sm-6 mb-4 h-100">
                                                <!-- Team Box -->
                                                <div class="team-box wow fadeInLeft">
                                                      <!-- Image -->
                                                      <img src="{{ asset('build/img/logo.png') }}" alt="" class="img-fluid"/>
                                                      <!-- Heading -->
                                                      <h4 class="font-weight-bold text-secondary">Université d'abomey-calavi</h4>
                                                      <p>Aenean cursus fermentum euismod. Cras sodales nibh sed egestas
                                                            adipiscing. Vestibulum sit amet eros sapien. Vestibulum quis
                                                            dapibus sem. Fusce a lacinia nisl. Mauris sagittis egestas
                                                            justo. Praesent tempus quis nibh nec imperdiet.

                                                      </p>
                                                      <!-- Social -->
                                                      <div class="ui-social">
                                                            <!-- Facebook -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="Facebook"><i
                                                                    class="fa fa-facebook facebook"></i></a>
                                                            <!-- Twitter -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="Twitter"><i
                                                                    class="fa fa-twitter twitter"></i></a>
                                                            <!-- LinkedIn -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="LinkedIn"><i
                                                                    class="fa fa-linkedin linkedin"></i></a>
                                                            <!-- Google-Plus -->
                                                            <a href="#" class="ui-tooltip btn bg-secondary mt-4 text-white" data-toggle="tooltip"
                                                               data-placement="top" title="Voir le site du partenaire">Voir le site du partenaire</a>
                                                      </div>

                                                </div>
                                          </div>
                                          <div class="col-md-4 col-sm-6 mb-4 h-100">
                                                <!-- Team Box -->
                                                <div class="team-box wow fadeInLeft">
                                                      <!-- Image -->
                                                      <img src="{{ asset('build/img/logo.png') }}" alt="" class="img-fluid"/>
                                                      <!-- Heading -->
                                                      <h4 class="font-weight-bold text-secondary">Université d'abomey-calavi</h4>
                                                      <p>Aenean cursus fermentum euismod. Cras sodales nibh sed egestas
                                                            adipiscing. Vestibulum sit amet eros sapien. Vestibulum quis
                                                            dapibus sem. Fusce a lacinia nisl. Mauris sagittis egestas
                                                            justo. Praesent tempus quis nibh nec imperdiet.

                                                      </p>
                                                      <!-- Social -->
                                                      <div class="ui-social">
                                                            <!-- Facebook -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="Facebook"><i
                                                                    class="fa fa-facebook facebook"></i></a>
                                                            <!-- Twitter -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="Twitter"><i
                                                                    class="fa fa-twitter twitter"></i></a>
                                                            <!-- LinkedIn -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="LinkedIn"><i
                                                                    class="fa fa-linkedin linkedin"></i></a>
                                                            <!-- Google-Plus -->
                                                            <a href="#" class="ui-tooltip btn bg-secondary mt-4 text-white" data-toggle="tooltip"
                                                               data-placement="top" title="Voir le site du partenaire">Voir le site du partenaire</a>
                                                      </div>

                                                </div>
                                          </div>
                                    </div>
                              </div>

                              <div class="container mt-5">
                                    <h2 class="text-center font-weight-bold text-secondary">Entreprises</h2>
                                    <div class="row align-items-baseline">
                                          <div class="col-md-4 col-sm-6 mb-4 h-100">
                                                <!-- Team Box -->
                                                <div class="team-box wow fadeInLeft">
                                                      <!-- Image -->
                                                      <img src="{{ asset('build/img/logo.png') }}" alt="" class="img-fluid"/>
                                                      <!-- Heading -->
                                                      <h4 class="font-weight-bold text-secondary">Université d'abomey-calavi</h4>
                                                      <p>Aenean cursus fermentum euismod. Cras sodales nibh sed egestas
                                                            adipiscing. Vestibulum sit amet eros sapien. Vestibulum quis
                                                            dapibus sem. Fusce a lacinia nisl. Mauris sagittis egestas
                                                            justo. Praesent tempus quis nibh nec imperdiet.

                                                      </p>
                                                      <!-- Social -->
                                                      <div class="ui-social">
                                                            <!-- Facebook -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="Facebook"><i
                                                                    class="fa fa-facebook facebook"></i></a>
                                                            <!-- Twitter -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="Twitter"><i
                                                                    class="fa fa-twitter twitter"></i></a>
                                                            <!-- LinkedIn -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="LinkedIn"><i
                                                                    class="fa fa-linkedin linkedin"></i></a>
                                                            <!-- Google-Plus -->
                                                            <a href="#" class="ui-tooltip btn bg-secondary mt-4 text-white" data-toggle="tooltip"
                                                               data-placement="top" title="Voir le site du partenaire">Voir le site du partenaire</a>
                                                      </div>

                                                </div>
                                          </div>
                                          <div class="col-md-4 col-sm-6 mb-4 h-100">
                                                <!-- Team Box -->
                                                <div class="team-box wow fadeInLeft">
                                                      <!-- Image -->
                                                      <img src="{{ asset('build/img/logo.png') }}" alt="" class="img-fluid"/>
                                                      <!-- Heading -->
                                                      <h4 class="font-weight-bold text-secondary">Université d'abomey-calavi</h4>
                                                      <p>Aenean cursus fermentum euismod. Cras sodales nibh sed egestas
                                                            adipiscing. Vestibulum sit amet eros sapien. Vestibulum quis
                                                            dapibus sem. Fusce a lacinia nisl. Mauris sagittis egestas
                                                            justo. Praesent tempus quis nibh nec imperdiet.

                                                      </p>
                                                      <!-- Social -->
                                                      <div class="ui-social">
                                                            <!-- Facebook -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="Facebook"><i
                                                                    class="fa fa-facebook facebook"></i></a>
                                                            <!-- Twitter -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="Twitter"><i
                                                                    class="fa fa-twitter twitter"></i></a>
                                                            <!-- LinkedIn -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="LinkedIn"><i
                                                                    class="fa fa-linkedin linkedin"></i></a>
                                                            <!-- Google-Plus -->
                                                            <a href="#" class="ui-tooltip btn bg-secondary mt-4 text-white" data-toggle="tooltip"
                                                               data-placement="top" title="Voir le site du partenaire">Voir le site du partenaire</a>
                                                      </div>

                                                </div>
                                          </div>
                                          <div class="col-md-4 col-sm-6 mb-4 h-100">
                                                <!-- Team Box -->
                                                <div class="team-box wow fadeInLeft">
                                                      <!-- Image -->
                                                      <img src="{{ asset('build/img/logo.png') }}" alt="" class="img-fluid"/>
                                                      <!-- Heading -->
                                                      <h4 class="font-weight-bold text-secondary">Université d'abomey-calavi</h4>
                                                      <p>Aenean cursus fermentum euismod. Cras sodales nibh sed egestas
                                                            adipiscing. Vestibulum sit amet eros sapien. Vestibulum quis
                                                            dapibus sem. Fusce a lacinia nisl. Mauris sagittis egestas
                                                            justo. Praesent tempus quis nibh nec imperdiet.

                                                      </p>
                                                      <!-- Social -->
                                                      <div class="ui-social">
                                                            <!-- Facebook -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="Facebook"><i
                                                                    class="fa fa-facebook facebook"></i></a>
                                                            <!-- Twitter -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="Twitter"><i
                                                                    class="fa fa-twitter twitter"></i></a>
                                                            <!-- LinkedIn -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="LinkedIn"><i
                                                                    class="fa fa-linkedin linkedin"></i></a>
                                                            <!-- Google-Plus -->
                                                            <a href="#" class="ui-tooltip btn bg-secondary mt-4 text-white" data-toggle="tooltip"
                                                               data-placement="top" title="Voir le site du partenaire">Voir le site du partenaire</a>
                                                      </div>

                                                </div>
                                          </div>
                                          <div class="col-md-4 col-sm-6 mb-4 h-100">
                                                <!-- Team Box -->
                                                <div class="team-box wow fadeInLeft">
                                                      <!-- Image -->
                                                      <img src="{{ asset('build/img/logo.png') }}" alt="" class="img-fluid"/>
                                                      <!-- Heading -->
                                                      <h4 class="font-weight-bold text-secondary">Université d'abomey-calavi</h4>
                                                      <p>Aenean cursus fermentum euismod. Cras sodales nibh sed egestas
                                                            adipiscing. Vestibulum sit amet eros sapien. Vestibulum quis
                                                            dapibus sem. Fusce a lacinia nisl. Mauris sagittis egestas
                                                            justo. Praesent tempus quis nibh nec imperdiet.

                                                      </p>
                                                      <!-- Social -->
                                                      <div class="ui-social">
                                                            <!-- Facebook -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="Facebook"><i
                                                                    class="fa fa-facebook facebook"></i></a>
                                                            <!-- Twitter -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="Twitter"><i
                                                                    class="fa fa-twitter twitter"></i></a>
                                                            <!-- LinkedIn -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="LinkedIn"><i
                                                                    class="fa fa-linkedin linkedin"></i></a>
                                                            <!-- Google-Plus -->
                                                            <a href="#" class="ui-tooltip btn bg-secondary mt-4 text-white" data-toggle="tooltip"
                                                               data-placement="top" title="Voir le site du partenaire">Voir le site du partenaire</a>
                                                      </div>

                                                </div>
                                          </div>
                                          <div class="col-md-4 col-sm-6 mb-4 h-100">
                                                <!-- Team Box -->
                                                <div class="team-box wow fadeInLeft">
                                                      <!-- Image -->
                                                      <img src="{{ asset('build/img/logo.png') }}" alt="" class="img-fluid"/>
                                                      <!-- Heading -->
                                                      <h4 class="font-weight-bold text-secondary">Université d'abomey-calavi</h4>
                                                      <p>Aenean cursus fermentum euismod. Cras sodales nibh sed egestas
                                                            adipiscing. Vestibulum sit amet eros sapien. Vestibulum quis
                                                            dapibus sem. Fusce a lacinia nisl. Mauris sagittis egestas
                                                            justo. Praesent tempus quis nibh nec imperdiet.

                                                      </p>
                                                      <!-- Social -->
                                                      <div class="ui-social">
                                                            <!-- Facebook -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="Facebook"><i
                                                                    class="fa fa-facebook facebook"></i></a>
                                                            <!-- Twitter -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="Twitter"><i
                                                                    class="fa fa-twitter twitter"></i></a>
                                                            <!-- LinkedIn -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="LinkedIn"><i
                                                                    class="fa fa-linkedin linkedin"></i></a>
                                                            <!-- Google-Plus -->
                                                            <a href="#" class="ui-tooltip btn bg-secondary mt-4 text-white" data-toggle="tooltip"
                                                               data-placement="top" title="Voir le site du partenaire">Voir le site du partenaire</a>
                                                      </div>

                                                </div>
                                          </div>
                                          <div class="col-md-4 col-sm-6 mb-4 h-100">
                                                <!-- Team Box -->
                                                <div class="team-box wow fadeInLeft">
                                                      <!-- Image -->
                                                      <img src="{{ asset('build/img/logo.png') }}" alt="" class="img-fluid"/>
                                                      <!-- Heading -->
                                                      <h4 class="font-weight-bold text-secondary">Université d'abomey-calavi</h4>
                                                      <p>Aenean cursus fermentum euismod. Cras sodales nibh sed egestas
                                                            adipiscing. Vestibulum sit amet eros sapien. Vestibulum quis
                                                            dapibus sem. Fusce a lacinia nisl. Mauris sagittis egestas
                                                            justo. Praesent tempus quis nibh nec imperdiet.

                                                      </p>
                                                      <!-- Social -->
                                                      <div class="ui-social">
                                                            <!-- Facebook -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="Facebook"><i
                                                                    class="fa fa-facebook facebook"></i></a>
                                                            <!-- Twitter -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="Twitter"><i
                                                                    class="fa fa-twitter twitter"></i></a>
                                                            <!-- LinkedIn -->
                                                            <a href="#" class="ui-tooltip" data-toggle="tooltip"
                                                               data-placement="top" title="LinkedIn"><i
                                                                    class="fa fa-linkedin linkedin"></i></a>
                                                            <!-- Google-Plus -->
                                                            <a href="#" class="ui-tooltip btn bg-secondary mt-4 text-white" data-toggle="tooltip"
                                                               data-placement="top" title="Voir le site du partenaire">Voir le site du partenaire</a>
                                                      </div>

                                                </div>
                                          </div>
                                    </div>
                              </div><!-- /Container -->
                        </div><!-- / Team -->
                  </section>
                  <!-- End teacher -->


            </div><!-- /.du-about -->
      </div><!-- /.du-subpage content -->
      <!-- End About -->
      <div class="du-newsletter">
            <div class="container">
                  <h2 class="wow fadeInUp">Abonnez-vous à notre newsletter</h2>
                  <p class="wow fadeInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu libero
                        scelerisque ligula sagittis faucibus eget quis lacus. <br>Suspendisse sodales sed orci ac
                        feugiat. </p>
                  <div class="row">
                        <div class="col-lg-12 wow fadeInUp">
                              <form id="newsletter" accept-charset="utf-8">
                                    <div class="success">Your subscribe request has been sent!</div>
                                    <label class="email">
                                          <input type="email" value="Entrez votre email:">
                                          <span class="error">*This is not a valid email address.</span>
                                    </label><br>
                                    <a href="#" data-type="submit">Souscrire</a>
                              </form>
                        </div>
                  </div>
            </div>
      </div>
</div>
<!--End newsletter -->
{% endblock %}
{% block js %}
<script type="text/javascript">
    <!--
    ToolTip -->
    $(function () {
        <!-- TootlTip -->
        $('a.ui-tooltip').tooltip();
    });
</script>
{% endblock %}