{% extends 'cms/base.html.twig' %}
{% block title %}
    {{ slug is empty ? 'Ajouter un menu' : 'Modifier le menu '~slug }}
{% endblock %}
{% block css %}
    <link rel="stylesheet"
          href="{{ asset('build/vendors/bootstrap-4.5.2/bootstrap-4.5.2-examples/floating-labels/floating-labels.css') }}"/>
{% endblock %}
{% block js_vendors %}
    <script type="text/javascript" src="{{ asset('build/vendors/jquery-cookie/jquery.cookie.js') }}"></script>
    <script type='text/javascript'
            src="{{ asset("build/vendors/jquery-validation/dist/jquery.validate.js") }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/api/api.js') }}"></script>
{% endblock %}
{% block js %}
    <script>
        $(() => {
            if (/menus/.test(window.location.pathname)) {
                $('input[name=title]').val($.cookie('edit_title'));
                $('input[name=id]').val($.cookie('edit_id'));
                $('.new-menu').validate({
                    rules: {
                        title: {
                            required: true
                        }
                    },
                    messages: {
                        title: {
                            required: "Ecrivez un  titre"
                        }
                    },
                    errorElement: "em",
                    errorPlacement: function (error, element) {
                        $(element).addClass("is-invalid");
                        error.addClass("invalid-feedback");
                        error.addClass("help-block");
                        error.insertAfter(element);
                    },
                    success: function (label, element) {
                        $(element).removeClass("is-invalid");
                        $(element).addClass("is-valid");
                    },
                    highlight: function (element) {
                        $(element).removeClass("is-valid");
                        $(element).addClass("is-invalid");
                        $(element).addClass("border-danger");
                    },
                    unhighlight: function (element) {
                        $(element).removeClass("border-danger");
                        $(element).addClass("border-success");
                    },
                    submitHandler: function (form) {
                        let data = {
                            id: parseInt(form['id'].value),
                            title: form['title'].value
                        };
                        console.log(data);
                        //console.log((window.location.pathname).replace('/menus/', ''));
                        (async function () {
                            try {
                                let menu = new Api(($('body').data('apiDomainName') + '/api/menus/'));
                                let out = await menu.put(data);
                                form.reset();
                                $('.toast').remove('text-danger');
                                $('.toast-header').remove('bg-danger');

                                $('.toast').addClass('text-success');
                                $('.toast-header').addClass('bg-primary');

                                $('.toast .toast-body').html('<i class="fa fa-check-circle"></i> Menu enregistré.');
                                $('.toast').toast('show');
                                window.location.pathname = '/menus';
                            } catch (error) {
                                $('.toast').remove('text-success');
                                $('.toast-header').remove('bg-primary');

                                $('.toast').addClass('text-danger');
                                $('.toast-header').addClass('bg-danger');

                                $('.toast .toast-body').html('<i class="fa fa-warning"></i> Menu non enregistré.');
                                $('.toast').toast('show');
                            }
                        }());

                    }
                });
            } else
                $('.new-menu').validate({
                    rules: {
                        title: {
                            required: true
                        }
                    },
                    messages: {
                        title: {
                            required: "Ecrivez un  titre"
                        }
                    },
                    errorElement: "em",
                    errorPlacement: function (error, element) {
                        $(element).addClass("is-invalid");
                        error.addClass("invalid-feedback");
                        error.addClass("help-block");
                        error.insertAfter(element);
                    },
                    success: function (label, element) {
                        $(element).removeClass("is-invalid");
                        $(element).addClass("is-valid");
                    },
                    highlight: function (element) {
                        $(element).removeClass("is-valid");
                        $(element).addClass("is-invalid");
                        $(element).addClass("border-danger");
                    },
                    unhighlight: function (element) {
                        $(element).removeClass("border-danger");
                        $(element).addClass("border-success");
                    },
                    submitHandler: function (form) {
                        let data = {
                            title: form['title'].value
                        };
                        (async function () {
                            try {
                                let menu = new Api(($('body').data('apiDomainName') + '/api/menus'));
                                let out = await menu.post(data);
                                form.reset();
                                $('.toast').remove('text-danger');
                                $('.toast-header').remove('bg-danger');

                                $('.toast').addClass('text-success');
                                $('.toast-header').addClass('bg-primary');

                                $('.toast .toast-body').html('<i class="fa fa-check-circle"></i> Menu enregistré.');
                                $('.toast').toast('show');

                            } catch (error) {
                                $('.toast').remove('text-success');
                                $('.toast-header').remove('bg-primary');

                                $('.toast').addClass('text-danger');
                                $('.toast-header').addClass('bg-danger');

                                $('.toast .toast-body').html('<i class="fa fa-warning"></i> Menu non enregistré.');
                                $('.toast').toast('show');
                            }
                        }());
                    }
                });
        });
    </script>
{% endblock %}
{% block main %}
    <div aria-live="polite" aria-atomic="true" style="position: relative;  z-index: 1070">
        <div style="position: absolute; top: 0; right: 0;">
            <div class="toast text-success bg-secondary text-center" role="alert" aria-live="assertive"
                 aria-atomic="true">
                <div class="toast-header bg-primary d-flex justify-content-end">
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body bg-transparent">
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="h2 text-dark summernote" style="font-size: x-large">Ajouter un menu</h2>
        <a class="btn btn-link" href="{{ path('cms_menus') }}">
            <i class="fa fa-chevron-circle-left"></i>
            <span class="d-none d-lg-inline">Retour</span>
        </a>
    </div>
    <form class="new-menu">
        <div class="form-label-group">
            <input type="text" id="title" class="form-control" placeholder="Titre" name="title"
                   required autofocus>
            <label for="title">Titre</label>
        </div>
        <input type="hidden" name="id">
        <div class="btn-group btn-group-sm d-flex justify-content-between" role="group">
            <button type="submit" class="btn btn-outline-primary mr-2">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                <span class="d-none d-md-inline-block">
                        Créer
                    </span>
            </button>
        </div>
    </form>
{% endblock %}