{% extends 'cms/base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('build/vendor/summernote/dist/summernote-bs4.min.css') }}"/>
    <link rel="stylesheet"
          href="{{ asset('build/css/floating-labels.css') }}"/>
{% endblock %}
{% block js_vendors %}
    <script type="text/javascript" src="{{ asset('build/vendor/jquery-cookie/jquery.cookie.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/vendor/summernote/dist/summernote-bs4.min.js') }}"></script>
    <script type='text/javascript'
            src="{{ asset("build/vendor/jquery-validation/dist/jquery.validate.js") }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/api/api.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/cms/js/class/menu.js') }}"></script>
{% endblock %}
{% block js %}
    <script type="text/javascript">

    </script>
    <script type="text/javascript">
        $(() => {

            if (/ajouter-un-article/.test(window.location.pathname)) {
                $(() => {

                    $('.js-summernote').summernote({
                        placeholder: 'Écrivez votre article ici',
                        tabsize: 2,
                        height: 200
                    });
                });

                $('.new-article').validate({
                    rules: {
                        title: {
                            required: true
                        },
                        content: {
                            required: true
                        }
                    },
                    messages: {
                        title: {
                            required: "Ecrivez un  titre"
                        },
                        content: {
                            required: "Ecrivez le contenu de votre article"
                        }
                    },
                    errorElement: "em",
                    errorPlacement: function (error, element) {
                        $(element).addClass("is-invalid");
                        error.addClass("invalid-feedback");
                        error.addClass("help-block");
                        error.insertAfter(element);
                    },
                    success: function (label, element) {
                        $(element).removeClass("is-invalid");
                        $(element).addClass("is-valid");
                    },
                    highlight: function (element) {
                        $(element).removeClass("is-valid");
                        $(element).addClass("is-invalid");
                        $(element).addClass("border-danger");
                    },
                    unhighlight: function (element) {
                        $(element).removeClass("border-danger");
                        $(element).addClass("border-success");
                    },
                    submitHandler: function (form) {
                        let data = {
                            title: form['title'].value,
                            content: form['content'].value,
                            type: form['menu'].value
                        };
                        //console.log(data);
                        (async function () {
                            try {
                                let article = new Api(($('body').data('apiDomainName') + '/api/articles'));
                                let out = await article.post(data);
                                console.log(data);
                                form.reset();
                                $('.toast').remove('text-danger');
                                $('.toast-header').remove('bg-danger');

                                $('.toast').addClass('text-success');
                                $('.toast-header').addClass('bg-primary');

                                $('.toast .toast-body').html('<i class="fa fa-check-circle"></i> Article enregistré.');
                                $('.toast').toast('show');

                            } catch (error) {
                                $('.toast').remove('text-success');
                                $('.toast-header').remove('bg-primary');

                                $('.toast').addClass('text-danger');
                                $('.toast-header').addClass('bg-danger');

                                $('.toast .toast-body').html('<i class="fa fa-warning"></i> Article non enregistré.');
                                $('.toast').toast('show');
                            }
                        }());
                    }
                });
            } else {
                $('input[name=title]').val($.cookie('edit_article_title'));
                $('input[name=id]').val($.cookie('edit_article_id'));

                (async function () {
                        try {
                            const menuAPI = new Api(($('body').data('apiDomainName') + '/api/articles/'));
                            let currentArticle = await menuAPI.getItem($.cookie('edit_article_id'));
                            $('textarea[name=content]').val(currentArticle.content);
                            $('select[name=menu]').val(currentArticle.type);
                            $(() => {

                                $('.js-summernote').summernote({
                                    placeholder: 'Écrivez votre article ici',
                                    tabsize: 2,
                                    height: 200
                                });
                            });
                        } catch
                            (e) {
                            console.log(e);
                        }
                    }());
                $('.new-article').validate({
                    rules: {
                        title: {
                            required: true
                        },
                        content: {
                            required: true
                        }
                    },
                    messages: {
                        title: {
                            required: "Ecrivez un  titre"
                        },
                        content: {
                            required: "Ecrivez le contenu de votre article"
                        }
                    },
                    errorElement: "em",
                    errorPlacement: function (error, element) {
                        $(element).addClass("is-invalid");
                        error.addClass("invalid-feedback");
                        error.addClass("help-block");
                        error.insertAfter(element);
                    },
                    success: function (label, element) {
                        $(element).removeClass("is-invalid");
                        $(element).addClass("is-valid");
                    },
                    highlight: function (element) {
                        $(element).removeClass("is-valid");
                        $(element).addClass("is-invalid");
                        $(element).addClass("border-danger");
                    },
                    unhighlight: function (element) {
                        $(element).removeClass("border-danger");
                        $(element).addClass("border-success");
                    },
                    submitHandler: function (form) {
                        let data = {
                            id: form['id'].value,
                            title: form['title'].value,
                            content: form['content'].value,
                            type: form['menu'].value
                        };
                        //console.log(data);
                        (async function () {
                            try {
                                let article = new Api(($('body').data('apiDomainName') + '/api/articles/'));
                                let out = await article.put(data);
                                form.reset();
                                $('.toast').remove('text-danger');
                                $('.toast-header').remove('bg-danger');

                                $('.toast').addClass('text-success');
                                $('.toast-header').addClass('bg-primary');

                                $('.toast .toast-body').html('<i class="fa fa-check-circle"></i> Article enregistré.');
                                $('.toast').toast('show');
                                window.location.pathname = '/articles';
                            } catch (error) {
                                $('.toast').remove('text-success');
                                $('.toast-header').remove('bg-primary');

                                $('.toast').addClass('text-danger');
                                $('.toast-header').addClass('bg-danger');

                                $('.toast .toast-body').html('<i class="fa fa-warning"></i> Article non enregistré.');
                                $('.toast').toast('show');
                            }
                        }());
                    }
                });
                console.log('Le formulaire n\'est pas activé');
            }
        })
        ;
    </script>
{% endblock %}
{% block main %}
    <div aria-live="polite" aria-atomic="true" style="position: relative;  z-index: 1070">
        <div style="position: absolute; top: 0; right: 0;">
            <div class="toast bg-secondary text-center" role="alert" aria-live="assertive"
                 aria-atomic="true">
                <div class="toast-header d-flex justify-content-end">
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body bg-white">
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="h2 text-dark" style="font-size: x-large">Écrire un article</h2>
        <a class="btn btn-link" href="{{ path('cms_article') }}">
            <i class="fa fa-chevron-circle-left"></i>
            <span class="d-none d-lg-inline">Retour</span>
        </a>
    </div>
    <form class="new-article">
        <div class="form-label-group">
            <input type="text" id="title" class="form-control" placeholder="Titre" name="title"
                   required autofocus>
            <label for="title">Titre</label>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="menu">Type</label>
            </div>
            <select class="custom-select" id="menu" name="menu">
                <option value="actualites">Actualités</option>
                <option value="publications">Publications</option>
                <option value="trucs-et-astuces">Trucs et astuces</option>
            </select>
        </div>
        <div class="form-group">
            <textarea name="content" class="form-control js-summernote" id="content"></textarea>
        </div>
        <input type="hidden" name="id">
        <div class="btn-group btn-group-sm d-flex justify-content-between" role="group">
            <button type="submit" class="btn btn-outline-primary mr-2 js-toast-onclick">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                <span class="d-none d-md-inline-block">
                        Enregistrer
                    </span>
            </button>
            <button type="button" class="btn btn-outline-primary mr-2 js-toast-onclick disabled"
                    data-success-message="<i class='fa fa-check-circle'></i> Article publié.">
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                <span class="d-none d-md-inline-block">
                        Publier
                    </span>
            </button>
        </div>
    </form>
{% endblock %}