{% extends 'cms/base.html.twig' %}
{% block js_vendors %}
    <script type="text/javascript" src="{{ asset('build/vendor/jquery-cookie/jquery.cookie.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/api/api.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/cms/js/class/offer.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/cms/js/class/offer-list.js') }}"></script>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(() => {
            (new OfferList('.tbody-menu')).getOfferList().then(() => {
            });
            $('.js-checked-all').change(function () {
                if (this.checked) {
                    $('.js-checkbox').prop("checked", true);
                    $('.js-delete-checked').removeClass('disabled');
                } else {
                    $('.js-delete-checked').addClass('disabled');
                    $('.js-checkbox').prop("checked", false);
                }
            });
            $('.js-delete-checked').on('click', () => {
                $('.js-checkbox:checked').each((index) => {
                    (async function () {
                        try {
                            let api = new Api(($('body').data('apiDomainName') + '/api/users/')),
                                selector = '.js-checkbox:checked';
                            await api.delete($($(selector)[index]).data('id'));
                            $('#' + $($(selector)[index]).data('id')).remove();
                        } catch (error) {
                            console.log(error);
                        }
                    }());
                });
            });
        });
    </script>
{% endblock %}
{% block main %}
    <h2 class="h2 text-dark">Opportunités</h2>

    <div class="btn-group btn-group-sm d-flex justify-content-between" role="group">
        <a href="{{ path('cms_add_offer') }}" type="button" class="btn btn-outline-primary">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            <span class="d-none d-md-inline-block">
                        Ajouter une opportunité
                    </span>
        </a>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped text-center">
                    <thead class="shadow-lg" style="background-color: rgba(42,140,40,0.6)">
                    <tr>
                        <th>
                            <input class="form-check-input ml-1 mt-n3"
                                   type="checkbox"/>
                        </th>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Lien pour postuler</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody class="tbody-menu">

                    </tbody>
                    <tbody class="data-article d-none bg-primary">
                    <tr>
                        <th scope="row"></th>
                        <td colspan="6" class="text-center not-element">Aucun élément</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <ul class="pagination justify-content-end">
                <li class="page-item active">
                    <button class="page-link disabled">
                        1
                    </button>
                </li>
                <li class="page-item">
                    <button class="page-link disabled">
                        sur
                    </button>
                </li>
                <li class="page-item">
                    <button class="page-link">
                        1
                    </button>
                </li>
                <li class="page-item">
                    <button class="page-link">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </button>
                </li>
                <li class="page-item">
                    <button class="page-link">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}